.header-with-line {
    display: flex;
    align-items: center;
  }

  .header-line {
    width: 112px;
    height: 100%;
    background-color: green; /* Adjust color as needed */
    margin-right: 10px;
  }
  .cus-close {
    position: absolute;
    right: 15px;
    bottom: 20px;
}


 

.w-110px {
  width: 110px;
}

.w-73px {
  width: 73px;
}

.w-108px {
  width: 108px;
}

