<div class="card">
  <div class="card-header  bg-blue  fs-5 d-flex justify-content-between align-items-center">
    <div class="card-title text-white">Change Password </div>
    <div class="" (click)="closeModal()"><i class="fa-solid fa-xmark"></i></div>
  </div>
  <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
  <div class="card-body">
    <div class="mb-2">
      Enter your Current and new Password
    </div>


      <!-- Current Password -->
      <div>
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Current Password</mat-label>
          <input matInput type="password" formControlName="currentPassword" required />
          <ng-container
            *ngTemplateOutlet="formError; context: { control: passwordForm.controls['currentPassword'], validation: 'required', message: 'Current password is required.' }"></ng-container>
        </mat-form-field>
      </div>

      <div>
        <!-- New Password -->
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>New Password</mat-label>
          <input matInput type="password" formControlName="newPassword" required />
          <ng-container
            *ngTemplateOutlet="formError; context: { control: passwordForm.controls['newPassword'], validation: 'weakPassword', message: 'Password does not meet requirements.' }"></ng-container>
        </mat-form-field>
      </div>

      <div class="py-2"><i class="fa-solid fa-circle-check me-2"></i>Password length should be between 8 and 15</div>
      <div class="py-2"><i class="fa-solid fa-circle-check me-2"></i> Password should contain a minimum of 1 special
        character</div>
      <div class="py-2"><i class="fa-solid fa-circle-check me-2"></i> Password should contain a minimum of 2 numbers
      </div>
      <div class="py-2"><i class="fa-solid fa-circle-check me-2"></i> Password should contain a minimum of 1 uppercase
        letter</div>
      <div class="py-2"><i class="fa-solid fa-circle-check me-2"></i>Password should contain a minimum of 1 lowercase
        letter</div>

      <!-- Confirm Password -->
      <div>
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Confirm New Password</mat-label>
          <input matInput type="password" formControlName="confirmPassword" required />
          <ng-container
            *ngTemplateOutlet="formError; context: { control: passwordForm.controls['confirmPassword'], validation: 'mismatch', message: 'Passwords do not match.' }"></ng-container>
        </mat-form-field>
      </div>

      <!-- Action Buttons -->
  </div>
  <div class="card-footer">
    <div class="d-flex justify-content-end">
      <button class="btn btn-primary " type="submit" [disabled]="passwordForm.invalid">
        <span><i class="fa-solid fa-arrow-up-right-from-square ms-2"></i></span>
        Submit</button>
      <button class="btn btn-light shadow ms-3" type="button" (click)="closeModal()">
        <span><i class="fa-solid fa-circle-xmark me-2"></i></span>
        <span class="cus-primary ">Cancel</span></button>
    </div>
  </div>
</form>

</div>
<ng-template #formError let-control="control" let-message="message" let-validation="validation">
  <ng-container *ngIf="submitted && control.hasError(validation) && (control.dirty || control.touched)">
    <div class="fv-plugins-message-container">
      <div class="fv-help-block text-danger">{{ message }}</div>
    </div>
  </ng-container>
</ng-template>
